body
{
background-image: url("background.jpg");
background-size: cover;
}

#h1
{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0%;
    border-radius: 20px;
    border-color:chartreuse;
    width: 100%;
}
#start
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}
#copy_right_footer
{
    font-family: 'Roboto', sans-serif;
    position:fixed ;
    color: #717172;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(100, 99, 99);
    margin-bottom: 0%;
}

canvas
{
    border-radius: 20px;
    border-style: double;
    border-color: aliceblue;
    margin-top: 150px;;
}